.header{
    background-image: url("../images/post-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    padding: 250px 0 60px 0;
    text-align: center;
}

.header__title {
    font-family: $playfair-display;
    font-weight: $fs-black;
    font-style: italic;
    font-size: $xx-large;
    margin-bottom: 120px;
}

.header__link {
    color: $platinum;
    &:hover {
        color: $ruddy-pink;
    }
}