.header{
    background-image: url("../images/post-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    padding: 250px 0;
    text-align: center;
}

.header__container {
    width: 400px;
}

.header__title {
    font-family: $playfair-display;
    font-weight: $fs-black;
    font-style: italic;
}